.category__link {
  @include font-set(19px, 700, 24px);
  color: $white;
}

.category__item:nth-child(1) {
  background-color: $color-primary;
}

.category__item:nth-child(2){
  background-color: $color-secondary;
}
